.homePage {
    background-color: rgb(220,220,220);
    height: 86vh;
    padding: 4vh 1.5vw;
}

.desc {
    font-size: min(4vh, 5vw);
    margin-bottom: 4vh;
}

.miniShopPage {
    display: grid;
    grid-template: 300px / repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2vh;
    padding: 0vw 0vw;
}

