.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 58px;
    column-gap: 4vw;
    background-color: rgb(220,220,220);
    padding: 0px 1.5vw;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    margin-right: auto;
}

.title > h1 {
    font-size: min(6vw, 39px);
}

.title > img {
    height: min(6vw, 39px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    width: 20%;
    height: 70%;
    background-color: rgb(255,255,255);
}
.button:hover, .title:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.button:active, .title:active  {
    transform: scale(1.2);
    transition: transform .2s;
}

.activePage {
    background-color: red;
}

.icon {
    height: min(4vw, 26px);
}

.name {
    font-size: min(4vw, 26px);
}