.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    column-gap: 2.3vw;
    background-color: rgb(220,220,220);
}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
}

.title > h1 {
    font-size: min(4vh, 5vw);
}

.title > img {
    height: min(5vw, 4vh);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    width: 20%;
    height: 70%;
    background-color: rgb(255,255,255);
}
.button:hover, .title:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.button:active, .title:active  {
    transform: scale(1.2);
    transition: transform .2s;
}

.activePage {
    background-color: red;
}

.icon {
    height: min(100%, 4.5vw);
}

.name {
    font-size: min(180%, 4vh, 4vw);
}